@page "/friend"
@inject BlogDbContext context

<div class="row py-1 px-sm-2">
    <table class="col col-lg-10 mx-auto" style="table-layout: fixed">
        <thead>
            <tr>
                <th style="width: 4em">Iface</th>
                <th class="text-truncate">Address</th>
                <th style="width: 60%">HWaddress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in context.Friends.AsNoTracking().OrderBy(f => f.Name))
            {
                <tr>
                    <td class="p-sm-1"><img class="img-fluid rounded-2" src="@friend.IconUrl" alt="@friend.Name's avatar" /></td>
                    <td class="p-sm-2" title="@friend.Name"><span class="line-truncate-2 text-wrap-balance">@friend.Name</span></td>
                    <td>
                        <a class="link rounded px-sm-1 line-truncate-2 text-wrap-balance mx-auto mw-100"
                           href="@friend.Url" target="_blank"
                           style="width: fit-content;">@friend.Url</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
